modules = ["web", "nodejs-20"]

[nix]
channel = "stable-25_05"
packages = ["static-web-server"]

[deployment]
publicDir = "/"
deploymentTarget = "static"

[workflows]
runButton = "Serve static"

[[workflows.workflow]]
name = "Serve static"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "static-web-server --host 0.0.0.0 --port 80 --root . --directory-listing false"
waitForPort = 80

[[workflows.workflow]]
name = "Python Server"
author = 41368833
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 80 --bind 0.0.0.0"

[[ports]]
localPort = 80
externalPort = 80
